

#wrap { 
    width: 1000px;
    margin: 0 auto;
}
#header {
    float: left;
    width: 50%;
    height: 200px;
    background: #aaa;
}
#nav{
    float: left;
    width: 50%;
    height: 200px;
    background: #bbb;
}
#banner {
    clear: both;
    width: 100%;
    height: 500px;
    background: #000;
}

#fo1 {
    float: left;
    width: 50%;
    height: 200px;
    background: #aaa;
}
#fo2 {
    float: left;
    width: 50%;
    height: 200px;
    background: #bbb;
}