/*  웹 폰트 */
/*  ko 폰트 */
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*  en 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/*number 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');


/* scrollTop */
.scrollTop {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 10000;
}

/* layout */
#wrap {}

#section1 {height: 4000px;}

#section2 {height: 5000px; background: #000;}

#section3 {}

#section4 {}

#section5 {}

#section6 {}


/* section1 */

.section-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 600vw;
}

.section-box>div {
    float: left;
    height: 100vh;
}

/* #section1 .cb1 (intro) */
.cb1 {
    background: #2B3A41;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

 .cb1 h1 {
    color: #A9B9C0;
    font-family: "Italiana";
    font-size: 8vw;
    text-align: center;
    font-weight: normal;

}

.cb1 h1 strong {
    display: block;
    font-weight: normal;
    animation: ta 2s ease-in forwards;
    opacity: 0;
}

.cb1 h1 strong:nth-child(1) {
    animation-delay: .5s;
}

.cb1 h1 strong:nth-child(2) {
    animation-delay: .6s;
}

.cb1 h1 strong:nth-child(3) {
    animation-delay: .7s;
}

@keyframes ta {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section-box .cb1 h1 strong em {
    font-style: normal;
    animation: tc 3s .5s ease-in forwards;
}

@keyframes tc {
    0% {
        color: #A9B9C0;
    }

    100% {
        color: #EEB0B5;
    }
}

/* .section-box .cb2 (img) */
.cb2 {
    width: 90vw;
    background: url('../img/ppimg.jpg') no-repeat center center;
    background-size: cover;
}

/* .section-box .cb3 (About)*/
.cb3 {
    position: sticky;
    top: 0;bottom: 0;
    left: -1px;
    z-index: 1;
    background: #2B3A41;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap{
    position: relative;
    display: flex;
}
.abimg{
    position: relative;
    height: 100vh;
}

.cb3 h2 {

    color: #EEB0B5;
    font-family: Italiana;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;

}

 .cb3 h3 {
    margin-top: 30%;
}

 .cb3 span {
    font-family: ChosunilboNM;
    font-weight: normal;
    font-size: 1.4vw;
    color: #D5F2FF;
    display: block;
    text-align: center;
    line-height: 159%;
}

 .cb3 span em {
    font-style: normal;
    color: #9EBDAE;
}


/* .section-box .cb4 (About img)*/
.cb4 {
    width: 180vw;
    position: relative;
}


.cb4 .aboutimg {
    margin: 1%;
   
}

.cb4 .aboutimg.g1 { 
    margin-left: 5%;
    position: absolute;
    left:0; top: 0;
}


.cb4 .aboutimg.g2 { 
    position: absolute;
    left:70vw ;bottom: 3vh;
}
.cb4 .aboutimg.g3 {
    position: absolute;
    left: 60vw;top: 60vh;
}

.cb4 .aboutimg.g4 {
    position: absolute;
    left: 75vw;top: 0;
}

.cb4 .aboutimg.g5 {
    position: absolute;
    right: 15vw; bottom:0;
}

.cb4 .aboutimg.g6 {
    position: absolute;
    top: 0vh; right:5vw;
}

.cb4 .aboutimg.g7 {
    position: absolute;
    top: 5vh; right: 60vw;
}

/* .section-box .cb5 */
.section-box .cb5 {
    width:60vw;
    background-color: #2B3A41;
}

.cb5 .stbox {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ChosunilboNM;
    font-weight: normal;
    font-size: 1.2vw;
    color: #D5F2FF;
    line-height: 159%;
}

 .cb5 .stbox .text1 {
    padding: 0 4% 0 5%;
}

.cb5 .stbox .text2 {
    padding-right:5%;
}
/* .section-box .cb6*/
 .cb6 {
    background-color: #ECBB9C;
    color:#2B3A41;
    width: 110vw;
    position: relative;
}


.cb6 .cb6sbox {
    width: 100%;
    font-family: Italiana;
    font-size: 7vw;
    position: absolute;
    left: 6vw; bottom: 19vh;
    display: flex;
}



.cb6 .cb6sbox .cont1{
    margin-right: 10%;
    position: relative;
}

.cb6 .cb6sbox .cont2{position: relative;}
.cb6 .cb6sbox .cont2::before{
    position: absolute;
    top: 9vh;left: -8vw;
    content: '';
    width: 5vw;
    height: 2px;
    background: #2B3A41;
}

.cb6 .number {
    position: absolute; left:23vw; top: 1vh;
    font-family: Halant;
    font-size: 2vw;
}

/*section2*/
#section2{}