/*  ko 폰트 */
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* layout */
#section1 {
    position: relative;
    z-index: 9000;
    height: 8000px;
}

#section2 {
    position: relative;
    z-index: 8000;
    height: 8000px;
}

#section3 {
    position: relative;
    z-index: 7000;
    height: 8000px;
}

#section4 {
    position: relative;
    z-index: 7000;
    height: 8000px;
}

/* scrollTop */
.scrollTop {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
}
/* ================ nav ================== */
  
  .menu-toggle {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 25px;
    cursor: pointer;
    z-index: 100000;
  }
  .menu-toggle.on .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-toggle.on .two {
    opacity: 0;
  }
  .menu-toggle.on .three {
    transform: rotate(-45deg) translate(8px, -10px);
  }
  
  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    transition-duration: 0.3s;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 15% auto;
    text-align: center;
    text-transform: uppercase;
  }
  nav ul.hidden {
    display: none;
  }
  nav ul a {
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 5em;
    line-height: 1.5;
    width: 100%;
    display: block;
  }
  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .menu-section.on {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 100000;
  }
  
/*============================================*/

/* section1 */
.section-box {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 600vw;
}

.section-box>div {
    float: left;
    width: 100vw;
    height: 100vh;
}

/* section1  layout*/
.section-box .sb1 {
    background: #2B3A41;
}

/* sb1 */

.section-box .sb1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

/*sb1 mouse */
.scroll-downs {
    position: absolute;
    right: 0vw;
    bottom: 0vh;
    margin: 2vw;
    opacity: 0;
    animation: ma 2s 4s ease-in forwards;
}

.mousey {
    width: 1px;
    padding: 6px 12px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
}

.scroller {
    width: 2px;
    height: 8px;
    border-radius: 35%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}


@keyframes ma {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.65;
    }
}

.section-box .sb1 h1 {
    color: #A9B9C0;
    font-family: "Italiana";
    font-size: 8vw;
    line-height: 10vw;
    text-align: center;
    font-weight: normal;
}

.section-box .sb1 h1 strong {
    display: block;
    font-weight: normal;
    margin-bottom: 4px;
    overflow: hidden;
}

.section-box .sb1 h1 strong span {
    font-style: normal;
    transform: translateY(200px);
    display: inline-block;
    opacity: 0;
    min-width: 2vw;
}

/* sb1 - point */
.section-box .sb1 h1 strong.t3 span:nth-child(n+1):nth-child(-n+9) {
    color: #EEB0B5;
}



/* sb2 */
.section-box .sb2 {
    background: url(../img/ppimg02-1.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/* sb3 */
.section-box .sb3 {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 400;
    background: #2B3A41;
    width: 33.3333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-box .sb3 h2 {
    color: #EEB0B5;
    font-size: 6vw;
    /* margin-bottom: 6vw; */
    margin-bottom: 3vw;
}

.section-box .sb3 .text span {
    display: block;
    text-align: center;
    color: #A9B9C0;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.3vw;
    line-height: 2.2vw;
}


/* sb4 */
.section-box .sb4 {
    width: 240vw;
    background: #fff;
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 300;
}


/*  이미지 정렬 (위치)*/
.section-box .sb4 .aboutimg {
    position: absolute;
}

.section-box .sb4 .aboutimg.g1 {
    left: 30vw;
    top: 10vh;
}

.section-box .sb4 .aboutimg.g2 {
    left: 50vw;
    bottom: 10vh;
}

.section-box .sb4 .aboutimg.g3 {
    left: 70vw;
    top: 22vh;
}

.section-box .sb4 .aboutimg.g4 {
    left: 90vw;
    bottom: 5vh;
}

.section-box .sb4 .aboutimg.g5 {
    left: 120vw;
    top: 10vh;
}

.section-box .sb4 .aboutimg.g6 {
    left: 160vw;
    bottom: 5vh;
}

.section-box .sb4 .aboutimg.g7 {
    left: 180vw;
    top: 10vh;
}

.section-box .sb4 .aboutimg.g8 {
    left: 200vw;
    bottom: 10vh;
}

/*  이미지 정렬( 크기) */
.section-box .sb4 .aboutimg.g1 img {
    width: 25vw;
}

.section-box .sb4 .aboutimg.g2 img {
    width: 14vw;
}

.section-box .sb4 .aboutimg.g3 img {
    width: 14vw;
}

.section-box .sb4 .aboutimg.g4 img {
    width: 20vw;
}

.section-box .sb4 .aboutimg.g5 img {
    width: 35vw;
}

.section-box .sb4 .aboutimg.g6 img {
    width: 25vw;
}

.section-box .sb4 .aboutimg.g7 img {
    width: 13vw;
}

.section-box .sb4 .aboutimg.g8 img {
    width: 25vw;
}


/* sb5 */
.section-box .sb5 {
    background: url(../img/imgm2-1.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    transform: translateX(0%);
}

/* sb6 */
.section-box .sb6 {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 500;
    background: #2B3A41;
    width: 33.3333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-box .sb6 .text {
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 2.2vw;
    color: #A9B9C0;
    display: block;
    padding: 4vw 6vw 2vw;
    word-break: keep-all;
    text-align: center;
}

/* sb7 */
.section-box .sb7 {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 500;
    background: #2B3A41;
    width: 33.3333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-box .sb7 .text {
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 2.2vw;
    color: #A9B9C0;
    display: block;
    padding: 4vw 6vw 2vw;
    word-break: keep-all;
    text-align: center;
}

.section-box .sb7 .text strong {
    display: block;
    color: #EEB0B5;
    margin-top: 4.5vw;
}

/* section2 */
.site-box {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 700vw;
}

/*section2 layout  */
.site-box>div {
    float: left;
    width: 100vw;
    height: 100vh;
}

.site-box .st1 {
    background: #ECBB9C;
}


/*  st1  */
.site-box .st1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.site-box .st1 .sec-title {
    display: flex;
    position: relative;
    left: 30vw;
    top: 70vh;
}

.site-box .st1 .sec-title p {
    font-size: 6.5vw;
    color: #2B3A41;
    display: inline-block;

}

.site-box .st1 .sec-title p:last-child {
    font-size: 2vw;
    font-family: Halant;
}

/* ======================    site img  ============================*/

/* st2  */
.site-box .st2 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/siteimg1-2.jpg)no-repeat center center;
    background-size: cover;
    z-index: 91;
}

/* st4 */
.site-box .st4 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/siteimg2-2.jpg)no-repeat center center;
    background-size: cover;
    z-index: 89;
}

/* st6 */
.site-box .st6 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/siteimg03.jpg)no-repeat center center;
    background-size: cover;
    z-index: 88;
}

/* st8 */
.site-box .st8 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/siteimg04-1.jpg)no-repeat center center;
    background-size: cover;
    z-index: 87;
    transform: translateX(0%);
}

/* ==================//   site img   //======================= */
/* stt */
.site-box .stt {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 400;
    background: #2B3A41;
    width: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #EEEEEE;
}

.site-box .stt h2 {
    color: #EEB0B5;
    font-size: 4vw;
    margin-bottom: 5vw;
}

.site-box .stt span {
    display: block;
    font-family: 'Chosunilbo_myungjo';
    color: #A9B9C0;
    font-size: 1.2vw;
    line-height: 1.8vw;
}
/*============= more ===================*/
:root {
    --background: #314B57;
    --icon-color: #344955;
    --width: 50px;
    --height: 50px;
    --border-radius: 100%;
  }
    
  .wrapper {
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1vw;
  }
  .wrapper .fab {
    background: var(--background);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 3;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
  }
  .wrapper .fab::before, .wrapper .fab::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
  }
  .wrapper .fab::before {
    width: 4px;
    height: 18px;
  }
  .wrapper .fab::after {
    width: 18px;
    height: 4px;
  }
  .wrapper .fac {
    width: 32px;
    height: 100px;
    border-radius: 64px;
    position: absolute;
    background: #fff;
    z-index: 2;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
  }
  .wrapper .fac a {
    color: var(--icon-color);
    opacity: 0.8;
    font-size: 0.8vw;
    font-family: 'S-CoreDream-4Regular';
    text-transform: uppercase;
  }
  .wrapper .fac a:hover {
    transition: 0.2s;
    opacity: 1;
    color: #30444f;
  }
  .wrapper input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
  }
  .wrapper input:checked ~ .fab {
    animation: fab-animation 0.4s ease-out forwards;
  }
  .wrapper input:checked ~ .fac {
    width: 32px;
    height: 100px;
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: -110px;
    opacity: 1;
  }
  
  @keyframes fab-animation {
    0% {
      transform: rotate(0) scale(1);
    }
    20% {
      transform: rotate(60deg) scale(0.93);
    }
    55% {
      transform: rotate(35deg) scale(0.97);
    }
    80% {
      transform: rotate(48deg) scale(0.94);
    }
    100% {
      transform: rotate(45deg) scale(0.95);
    }
  }
  @keyframes fab-animation-reverse {
    0% {
      transform: rotate(45deg) scale(0.95);
    }
    20% {
      transform: rotate(-15deg);
    }
    55% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0) scale(1);
    }
  }
  @keyframes fac-animation {
    0% {
      transform: scale(1, 1);
    }
    33% {
      transform: scale(0.95, 1.05);
    }
    66% {
      transform: scale(1.05, 0.95);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
 /*------------------------------------------------------------*/
/* stbtn */
.site-box .stbtn {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 300;
    background: #324046;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* stbtn btns*/
#btns {
    font-family: S-CoreDream-3Light;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btns ul li {
    background: #425761;
    margin-bottom: 1vw;
    width: 10vw;
    height: 5vh;
    border-radius: 8px;
}

#btns ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FCF0E8;
    line-height: 5vh;
    font-size: 1vw;
    position: relative;
    z-index: 1000;
}

/* mousehover */
#btns ul li:hover,
#btns ul li.active {
    background: #FCF0E8;
}

#btns ul li:hover a,
#btns ul li.active a {
    color: #2B3A41;
}

/* .st3-2 */
.site-box .st3-2{
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 250;
    width: 55vw;
    height: 100%;
    background: #FCF0E8;
}

.site-box .st3-2 .btnscont {
    width: 45vw;
    height: 80vh;
    margin: 8% auto;
    font-family: S-CoreDream-3Light;
}

/* st5-2 */
.site-box .st5-2 {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 250;
    width: 55vw;
    height: 100%;
    background: #FCF0E8;
}
.site-box .st5-2 .btnscont {
    width: 45vw;
    height: 80vh;
    margin: 8% auto;
    font-family: S-CoreDream-3Light;
}
/* st7-2 */
.site-box .st7-2 {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 250;
    width: 55vw;
    height: 100%;
    background: #FCF0E8;
}
.site-box .st7-2 .btnscont {
    width: 45vw;
    height: 80vh;
    margin: 8% auto;
    font-family: S-CoreDream-3Light;
}
/* st9-2 */
.site-box .st9-2 {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 250;
    width: 55vw;
    height: 100%;
    background: #FCF0E8;
}

.site-box .st9-2 .btnscont {
    width: 45vw;
    height: 80vh;
    margin: 8% auto;
    font-family: S-CoreDream-3Light;
}

/* bc-tt */
.bc-text .bc-bigtitle ul li .bc-tt {
    height: 15vh;
}

/* bc-cd*/
.bc-text .bc-bigtitle ul li .bc-cb {
    height: 5vh;

}

.bc-text .bc-bigtitle ul li .bc-cb ul {
    display: flex;
    background: #161e21;
    border-radius: 10px 10px 0 0;

}

.bc-text .bc-bigtitle ul li .bc-cb ul li {
    width: 10vw;
    line-height: 5vh;
    text-align: center;
}

.bc-text .bc-bigtitle ul li .bc-cb ul li:first-child {
    border-radius: 10px 0 0 0;
}

.bc-text .bc-bigtitle ul li .bc-cb ul li a {
    font-size: 0.65vw;
    color: #929c95;
    display: block;
}

/* bc-cd active*/
.bc-cb ul li.active  {
    background: #283136;
    border-bottom: 3px solid #317978;
}

.bc-text .bc-bigtitle ul li .bc-cb ul li.active a {
    font-size: 1vw;
}

/* bc-cont*/
.bc-text .bc-bigtitle ul li .bc-cont {
    height: 60vh;
    background: #283136;
}


/*======================== section3 =============================== */
.ani-box {
    position: fixed; left: 0; top: 0;
    overflow: hidden; width: 700vw;
}


/*section3 layout  */
.ani-box > div {float: left; width: 100vw; height: 100vh;}
.ani-box .ab1 {background: #ECBB9C;}
.ani-box .ab2 {background: #2B3A41;}

/* ab1 */
.ani-box .ab1 {   
    position: fixed; left: 0; top: 0; 
    width: 100%; height: 100vh;
    z-index: 70;
}
.ani-box .ab1 .ab-title {
    display: flex;
    position: relative;
    left: 6vw; top: 70vh;
    /* opacity: 0; */
}
  
.ani-box .ab1 .ab-title p {
    font-size: 7vw;
    color:#2B3A41;
    display: inline-block;
  
}
.ani-box .ab1 .ab-title p:last-child {
    font-size: 2vw;
    font-family: Halant;
}

/* ab2*/
.ani-box .ab2{
    width: 100vw; height: 100vh;
}

.ab2 .ab-inner { 
    width: 90vw; height: 75vh;
    margin: 10% auto; 
}
/* ab-box */
.ab2 .ab-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.ab2 .ab-box .title> strong {
    font-size: 6vw;
    position: absolute;
    right: -45vw;
    bottom: 1vh;
}
/* ain-num */
.ab2 .ain-num {
    position: absolute;
    left: 8vw;
    top: 19vh;
    width: 22vw;
    height: 60vh;
    overflow: hidden;
}

.ab2 .ain-num> p{
    font-size: 35vw;
    font-family: Great Vibes;
    text-shadow:    -2px -2px 0 #ECBB9C,
    2px -2px 0 #ECBB9C,
    -2px 2px 0 #ECBB9C,
    2px 2px 0 #ECBB9C; 
    color: #2B3A41;
    opacity: 0.6;
    position: absolute;
    top:100%;
    left: 1vw;
}

/* .ain-main */
.ab2 .ain-main{ 
    width: 40vw; height: 60vh;
    overflow: hidden;
    color: #2B3A41;
    position: relative;
    z-index: 1;
}

.ab2 .ain-main .at>strong {
    font-size: 6vw;
    position: absolute;
    right: -77.5vw;
    bottom: 1vh;
    z-index: 1;
}
.ab2 .ain-main strong:nth-child(5){
  color:#fff;
}
.ab2 .ain-main .mainbox > div {
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 40vw; top: 0vh;
}
/* ain-title */
.ab2 .ain-title{
    height: 60vh;width: 15%;
    overflow: hidden;
    position: absolute;
    
}

.ab2 .ab-box .ain-title > strong {
    font-size: 6vw;
    position: absolute;
    right: -25vw;
    bottom: 1vh;
    opacity: 0;
}
/*  text color */

.ab2 .ab-box .ain-title strong:nth-child(1) {
  color: #9795f0;
}
.ab2 .ab-box .ain-title strong:nth-child(2) {
  color: #ee609c;
}
.ab2 .ab-box .ain-title strong:nth-child(3){
    color:#fcdcdf;
  }
.ab2 .ab-box .ain-title strong:nth-child(4){
  color:#89BBD4;
}
.ab2 .ab-box .ain-title strong:nth-child(5){
  color:#000;
}
.ab2 .ab-box .ain-title strong:nth-child(6){
  color:#e3f2fd;;
}

/*ain-text  */
.ab2 .ain-text {
    width: 60vw; 
    height: 10vh;
    position: relative;
    margin: 0 auto;
}
.ab2 .ain-text >div {
    width: 50vw;
    height: 8vh;
 position: absolute;
  top: .6vw;right: 0;
  opacity: 0;
}

.ab2 .ain-text span {
    text-align: right;
    display: block;
    color:#fff;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.5vw;
}


/* ain-link */
.ain-link { 
    width: 40vw;
    height: 60vh;
    position: relative;
    top: -37.9vw;
    left: 46.2vh;
    overflow: hidden;
    z-index: 10;
} 
.ain-link >a {
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 40vw;
    top: 0;
    display: block;
    z-index: 6;
}
/* .ain-link .cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11;
    user-select: none;
    pointer-events: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    background:#EEB0B5;
    font-family: Scada;
    color:#2B3A41;
    text-align: center;
    line-height: 50px;
} */

/* ======================== section4 ============================== */
#section4 .script {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 700vw;
}

/*section4 layout  */
.script > div {
    float: left;
    width: 100vw;
    height: 100vh;
}

.script .sc1 {
    background: #ECBB9C;
}
.script .sc2 {
    background: #2B3A41;
}

/*  sc1  */
.script .sc1 {
    position: fixed; left: 0; top: 0; 
    width: 100%; height: 100vh;
}

.script .sc1 .sc-title {
        display: flex;
        position: relative;
        left: 6vw; top: 70vh;
}
.script .sc1 .sc-title p {
    font-size: 9vw;
    color:#2B3A41;
    display: inline-block;
}

/* sc 2 */

.script .sc2 {
  position: fixed; left: 0; top: 0; 
  width: 100%; height: 100vh;
  overflow: hidden;

}

/*  scb1  */
.script .sc2 .scb1 {
  width: 30%;
  height: 100%;
  background: url(../img/contactimg.png) no-repeat;
  background-size: cover;
  float: left;

}

/* scb2 */
.script .sc2 .scb2 {
  width: 70%;
  height: 100%;
  float: left;
}

.script .sc2 .scb2 .scb2-inner {
  width: 65vw;
  height: 90vh;
  margin: 5% auto;
  align-items: center;
}
.script .sc2 .scb2 .scb2-inner .title span {
  color:#B9C9D0;
  display: block;
  font-size: 3.5vw;
}
/* mainbox */
.mainbox {
    display: flex;
    justify-content: center;
    font-family:'S-CoreDream-4Regular';
}
.mainbox > div{
    width: 50%;
    height: 65vh;
}


.mainbox label { 
  display: block;
  color: #B9C9D0;
  text-transform: uppercase;
  font-size: 1vw;
  margin: 20px 0 10px 0;
}
.mainbox input[type="text"],
.mainbox input[type="email"],
.mainbox textarea
 {
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    color: #B9C9D0;
    padding: 15px;
    border: 0;
    font-size: 1.2vw;
 
}
.mainbox textarea {
    width: 90%;
    height: 40vh;
}
.mainbox .sbtn {
    text-align: right;
}
.mainbox .sbtn > button {
    cursor: pointer;
    font-size: 1vw;
    border: 0;
    background: none;
    color: #B9C9D0;
    text-transform: uppercase;
}
