@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#header {
  width: 100%;
  height: 800px;
  background: #000;
}

#nav {
  width: 100%;
  height: 85px;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.4);
  position: relative;
}

#nav h1 {
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: -70px;

}
/* link1 */
.link1 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-size: 13px;
}
.link1 a {padding-right: 10px;}

.link1 .link-left {
  position: absolute;
  top: 15px;
  left: 0;
}
.link1 .link-right {
  position: absolute;
  top: 15px;
  right: 0;
}


/* link2 */
.link2 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.link2 .link-icon1 {
  padding-top: 50px;
 
}

.link2 .link-icon1 a {
  padding-right: 20px;
}

.link2 .link-text1 li {
  padding-right: 60px;
  float: left; 
}
.link2 .link-text1 ul {
  position: absolute;
  top: 70%;
  left: 15%;
}


.link2 .link-text2 li {
  padding-right: 60px;
  float: left; 
}
.link2 .link-text2 ul {
  position: absolute;
  top: 70%;
  right:10% ;
}

.link2 .link-icon2  {
  
  position: absolute;
  right: 0;
  top: 50%;
}

.link2 .link-icon2 a {
  padding-right: 20px;

}
.rink {
  margin: 200px 0 20px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 20px;
  position: relative;
}
.rink span{
  display: inline-block;
   color:#fff;
   text-align: center;
   border-bottom: 2px solid #aaa;
   padding-bottom: 8px;
  }
.rink .movie-more { 
  position: absolute;
  right: 35px;
  bottom: 25px;
}

.rink .movie-more::before{
  content:'';
  width: 20px;
  height: 2px;
  position: absolute;
  right: -33px;
  bottom: 8px;
  background: #aaa;
}

.rink .movie-more::after{
  content:'';
  width: 2px;
  height: 20px;
  position: absolute;
  right: -24px;
  bottom: -1px;
  background: #aaa;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 500px;
  margin: 0 auto;
}

.box .sbox {
  width: 23%;
  height: 370px;
  background-position:center;
  background-size: cover;
  border-radius: 10px;
  display:inline-block;
}

.rink_num {
  color:#fff;
  font-size: 30px;
  font-style: italic;
  font-family: 'Nanum Gothic';
  margin: 10px 0 0 10px;
  display: inline-block;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.sbox {
  position: relative;
}

.sbox_btn {
  width: 100%;
  height: 36px;
  position: relative;
  top: 330px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
 }

 .sbox_btn a {
  color:#fff;
 }

 .sbox_btn .btn1 {
   width: 28%;
   height: 70%;
   border:1px solid #555;
   border-radius:5px;
   text-align: center;
   font-size: 13px;
 }

 .sbox_btn .btn1 a svg {
   width: 15px;
   height: 15px;
   padding-top: 5px;
 }

.sbox_btn .btn1 a span{
  position: relative;
  bottom: 3px;
}


 .sbox_btn .btn2 {
  width: 68%;
  height: 70%;
  background-color: #037b94;
  border-radius:5px;
  text-align: center;
}
 
/*  오버했을때 나오는 관람평 */
.review{
  position: absolute;
  left: 0;top: 0;
  right: 0;bottom: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 25px;
  overflow: hidden;
}

.review .sre {
  
}

/*  영화 포스터 */
.sbox1 {background-image: url(img/movieposter01.jpg);}
.sbox2 {background-image: url(img/movieposter02.jpg);}
.sbox3 {background-image: url(img/movieposter03.jpg);}
.sbox4 {background-image: url(img/movieposter04.jpg);}

/*# sourceMappingURL=style.css.map */